<!-- Vertical navigation -->
<button class="nav-toggle" id="navToggle" aria-expanded="false" aria-controls="nav">
  <span class="hamburger"><span></span><span></span><span></span></span>
  Menu
</button>
<nav class="nav" id="nav" aria-label="Hoofdnavigatie">
  <ul>
    <li><a href="{{ '/' | relative_url }}" class="{%- if page.url == '/' %}active{%- endif %}">Homepage</a></li>
    <li><a href="{{ '/pages/clubnieuws' | relative_url }}" class="{%- if page.url contains 'clubnieuws' %}active{%- endif %}">Clubnieuws</a></li>
    <li>
      <a href="{{ '/pages/werkgroepen' | relative_url }}" class="{%- if page.url contains 'werkgroepen' %}active{%- endif %}">Werkgroepen</a>
      <ul>
        <li><a href="{{ '/pages/werkgroepen-techniek' | relative_url }}" class="{%- if page.url contains 'werkgroepen-techniek' %}active{%- endif %}">Techniek</a></li>
      </ul>
    </li>
    <li><a href="{{ '/pages/agenda-2025-26' | relative_url }}" class="{%- if page.url contains 'agenda-2025-26' %}active{%- endif %}">Agenda 2025/26</a></li>
    <li><a href="{{ '/pages/agenda-2026-27' | relative_url }}" class="{%- if page.url contains 'agenda-2026-27' %}active{%- endif %}">Agenda 2026/27</a></li>
    <li><a href="{{ '/pages/activiteitenkalender' | relative_url }}" class="{%- if page.url contains 'activiteitenkalender' %}active{%- endif %}">Activiteitenkalender</a></li>
    <li>
      <a href="{{ '/pages/fotobespreking-werkwijze' | relative_url }}" class="{%- if page.url contains 'fotobespreking-werkwijze' %}active{%- endif %}">Fotobespreking werkwijze</a>
      <ul>
        <li><a href="{{ '/pages/fotobespreking-werkwijze/fotobespreking-hulp' | relative_url }}" class="{%- if page.url contains 'fotobespreking-hulp' %}active{%- endif %}">Fotobespreking hulp</a></li>
        <li><a href="{{ '/pages/fotobespreking-werkwijze/genres-bij-beeldspraak' | relative_url }}" class="{%- if page.url contains 'genres-bij-beeldspraak' %}active{%- endif %}">Genres bij Beeldspraak</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ '/pages/fotos-actueel' | relative_url }}" class="{%- if page.url contains 'fotos-actueel' %}active{%- endif %}">Foto's actueel</a>
      <ul>
        <li><a href="{{ '/pages/fotos-actueel/selectie-foto-seizoen-2025-26' | relative_url }}" class="{%- if page.url contains 'selectie-foto-seizoen' %}active{%- endif %}">Selectie foto seizoen 2025/26</a></li>
        <li><a href="{{ '/pages/fotos-actueel/fotobespreking-12-mei' | relative_url }}" class="{%- if page.url contains 'fotobespreking-12-mei' %}active{%- endif %}">Fotobespreking 12 mei</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ '/pages/fotos-archief' | relative_url }}" class="{%- if page.url contains 'fotos-archief' %}active{%- endif %}">Foto's archief</a>
      <ul>
        <li><a href="{{ '/pages/fotos-archief/fotobespreking-14-april' | relative_url }}" class="{%- if page.url contains 'fotobespreking-14-april' %}active{%- endif %}">Fotobespreking 14 april</a></li>
        <li><a href="{{ '/pages/fotos-archief/bondsfotowedstrijd-2026' | relative_url }}" class="{%- if page.url contains 'bondsfotowedstrijd-2026' %}active{%- endif %}">Bondsfotowedstrijd 2026</a></li>
        <li><a href="{{ '/pages/fotos-archief/fotobespreking-3-februari' | relative_url }}" class="{%- if page.url contains 'fotobespreking-3-februari' %}active{%- endif %}">Fotobespreking 3 februari</a></li>
        <li><a href="{{ '/pages/fotos-archief/fotobespreking-6-januari' | relative_url }}" class="{%- if page.url contains 'fotobespreking-6-januari' %}active{%- endif %}">Fotobespreking 6 januari</a></li>
        <li><a href="{{ '/pages/fotos-archief/fotobespreking-11-november' | relative_url }}" class="{%- if page.url contains 'fotobespreking-11-november' %}active{%- endif %}">Fotobespreking 11 november</a></li>
        <li><a href="{{ '/pages/fotos-archief/fotobespreking-28-oktober' | relative_url }}" class="{%- if page.url contains 'fotobespreking-28-oktober' %}active{%- endif %}">Fotobespreking 28 oktober</a></li>
        <li><a href="{{ '/pages/fotos-archief/fotobespreking-7-oktober-photorun-2025' | relative_url }}" class="{%- if page.url contains 'fotobespreking-7-oktober' %}active{%- endif %}">Fotobespreking 7 oktober - Photorun 2025</a></li>
        <li><a href="{{ '/pages/fotos-archief/bondsfotowedstrijd-2025' | relative_url }}" class="{%- if page.url contains 'bondsfotowedstrijd-2025' %}active{%- endif %}">Bondsfotowedstrijd 2025</a></li>
        <li><a href="{{ '/pages/fotos-archief/fotobespreking-23-sept-vakantiethema' | relative_url }}" class="{%- if page.url contains 'fotobespreking-23-sept' %}active{%- endif %}">Fotobespreking 23 sept - vakantiethema</a></li>
        <li><a href="{{ '/pages/fotos-archief/fotobespreking-13-mei-series' | relative_url }}" class="{%- if page.url contains 'fotobespreking-13-mei' %}active{%- endif %}">Fotobespreking 13 mei series</a></li>
        <li><a href="{{ '/pages/fotos-archief/fotobespreking-22-april' | relative_url }}" class="{%- if page.url contains 'fotobespreking-22-april' %}active{%- endif %}">Fotobespreking 22 april</a></li>
        <li><a href="{{ '/pages/fotos-archief/fotobespreking-8-april' | relative_url }}" class="{%- if page.url contains 'fotobespreking-8-april' %}active{%- endif %}">Fotobespreking 8 april</a></li>
        <li><a href="{{ '/pages/fotos-archief/foto-van-het-seizoen-2023-24' | relative_url }}" class="{%- if page.url contains 'foto-van-het-seizoen' %}active{%- endif %}">Foto van het seizoen 2023/24</a></li>
        <li><a href="{{ '/pages/fotos-archief/fotobespreking-11-maart' | relative_url }}" class="{%- if page.url contains 'fotobespreking-11-maart' %}active{%- endif %}">Fotobespreking 11 maart</a></li>
        <li><a href="{{ '/pages/fotos-archief/fotobespreking-11-februari' | relative_url }}" class="{%- if page.url contains 'fotobespreking-11-februari' %}active{%- endif %}">Fotobespreking 11 februari</a></li>
        <li><a href="{{ '/pages/fotos-archief/energie-k-groningen-beeldspraak' | relative_url }}" class="{%- if page.url contains 'energie-k-groningen' %}active{%- endif %}">Energie(k) Groningen - Beeldspraak</a></li>
        <li><a href="{{ '/pages/fotos-archief/fotobespreking-14-januari' | relative_url }}" class="{%- if page.url contains 'fotobespreking-14-januari' %}active{%- endif %}">Fotobespreking 14 januari</a></li>
        <li><a href="{{ '/pages/fotos-archief/fotobespreking-17-december' | relative_url }}" class="{%- if page.url contains 'fotobespreking-17-december' %}active{%- endif %}">Fotobespreking 17 december</a></li>
        <li><a href="{{ '/pages/fotos-archief/fotobespreking-19-november' | relative_url }}" class="{%- if page.url contains 'fotobespreking-19-november' %}active{%- endif %}">Fotobespreking 19 november</a></li>
        <li><a href="{{ '/pages/fotos-archief/fotobespreking-8-oktober' | relative_url }}" class="{%- if page.url contains 'fotobespreking-8-oktober' %}active{%- endif %}">Fotobespreking 8 oktober</a></li>
        <li><a href="{{ '/pages/fotos-archief/fotobespreking-24-september' | relative_url }}" class="{%- if page.url contains 'fotobespreking-24-september' %}active{%- endif %}">Fotobespreking 24 september</a></li>
        <li><a href="{{ '/pages/fotos-archief/foto-s-vakantiethema-2024' | relative_url }}" class="{%- if page.url contains 'foto-s-vakantiethema-2024' %}active{%- endif %}">Foto's vakantiethema 2024</a></li>
        <li><a href="{{ '/pages/fotos-archief/urbex-foto-s' | relative_url }}" class="{%- if page.url contains 'urbex-foto-s' %}active{%- endif %}">URBEX foto's</a></li>
        <li><a href="{{ '/pages/fotos-archief/foto-s-wg-macrofotografie' | relative_url }}" class="{%- if page.url contains 'foto-s-wg-macrofotografie' %}active{%- endif %}">Foto's wg Macrofotografie</a></li>
        <li><a href="{{ '/pages/fotos-archief/foto-s-vakantiethema-2023' | relative_url }}" class="{%- if page.url contains 'foto-s-vakantiethema-2023' %}active{%- endif %}">Foto's vakantiethema 2023</a></li>
        <li><a href="{{ '/pages/fotos-archief/thema-uitzicht-uit-zicht' | relative_url }}" class="{%- if page.url contains 'thema-uitzicht' %}active{%- endif %}">Thema "Uitzicht/Uit zicht"</a></li>
        <li><a href="{{ '/pages/fotos-archief/eemshaven-foto-s' | relative_url }}" class="{%- if page.url contains 'eemshaven' %}active{%- endif %}">Eemshaven foto's</a></li>
        <li><a href="{{ '/pages/fotos-archief/fotobespreking-28-mei-photorun-2024' | relative_url }}" class="{%- if page.url contains 'fotobespreking-28-mei' %}active{%- endif %}">Fotobespreking 28 mei Photorun 2024</a></li>
      </ul>
    </li>
    <li><a href="{{ '/pages/foto-van-de-maand' | relative_url }}" class="{%- if page.url contains 'foto-van-de-maand' %}active{%- endif %}">Foto van de maand</a></li>
    <li>
      <a href="{{ '/pages/fotos-van-leden' | relative_url }}" class="{%- if page.url contains 'fotos-van-leden' %}active{%- endif %}">Foto's van leden</a>
      <ul>
        <li><a href="{{ '/pages/fotos-van-leden/ieder-lid-heeft-eigen-pagina' | relative_url }}" class="{%- if page.url contains 'ieder-lid-heeft-eigen-pagina' %}active{%- endif %}">Ieder lid heeft eigen pagina</a></li>
        <li><a href="{{ '/pages/fotos-van-leden/stephan-tamminga' | relative_url }}" class="{%- if page.url contains 'stephan-tamminga' %}active{%- endif %}">Stephan Tamminga</a></li>
        <li><a href="{{ '/pages/fotos-van-leden/guido-kamp' | relative_url }}" class="{%- if page.url contains 'guido-kamp' %}active{%- endif %}">Guido Kamp</a></li>
        <li><a href="{{ '/pages/fotos-van-leden/stephanie-oosting' | relative_url }}" class="{%- if page.url contains 'stephanie-oosting' %}active{%- endif %}">Stephanie Oosting</a></li>
        <li><a href="{{ '/pages/fotos-van-leden/margreet-nagelsmit' | relative_url }}" class="{%- if page.url contains 'margreet-nagelsmit' %}active{%- endif %}">Margreet Nagelsmit</a></li>
        <li><a href="{{ '/pages/fotos-van-leden/gerrit-scheeres' | relative_url }}" class="{%- if page.url contains 'gerrit-scheeres' %}active{%- endif %}">Gerrit Scheeres</a></li>
        <li><a href="{{ '/pages/fotos-van-leden/marco-harmsen' | relative_url }}" class="{%- if page.url contains 'marco-harmsen' %}active{%- endif %}">Marco Harmsen</a></li>
        <li><a href="{{ '/pages/fotos-van-leden/ron-meiburg' | relative_url }}" class="{%- if page.url contains 'ron-meiburg' %}active{%- endif %}">Ron Meiburg</a></li>
        <li><a href="{{ '/pages/fotos-van-leden/liesbeth-timmermans' | relative_url }}" class="{%- if page.url contains 'liesbeth-timmermans' %}active{%- endif %}">Liesbeth Timmermans</a></li>
        <li><a href="{{ '/pages/fotos-van-leden/simon-bouma' | relative_url }}" class="{%- if page.url contains 'simon-bouma' %}active{%- endif %}">Simon Bouma</a></li>
        <li><a href="{{ '/pages/fotos-van-leden/jan-albert-bleeker' | relative_url }}" class="{%- if page.url contains 'jan-albert-bleeker' %}active{%- endif %}">Jan Albert Bleeker</a></li>
        <li><a href="{{ '/pages/fotos-van-leden/rinske-hokwerda' | relative_url }}" class="{%- if page.url contains 'rinske-hokwerda' %}active{%- endif %}">Rinske Hokwerda</a></li>
        <li><a href="{{ '/pages/fotos-van-leden/andre-krale' | relative_url }}" class="{%- if page.url contains 'andre-krale' %}active{%- endif %}">André Krale</a></li>
        <li><a href="{{ '/pages/fotos-van-leden/fred-bakhuis' | relative_url }}" class="{%- if page.url contains 'fred-bakhuis' %}active{%- endif %}">Fred Bakhuis</a></li>
        <li><a href="{{ '/pages/fotos-van-leden/ineke-bloemendaal' | relative_url }}" class="{%- if page.url contains 'ineke-bloemendaal' %}active{%- endif %}">Ineke Bloemendaal</a></li>
        <li><a href="{{ '/pages/fotos-van-leden/hank-hallegraeff' | relative_url }}" class="{%- if page.url contains 'hank-hallegraeff' %}active{%- endif %}">Hank Hallegraeff</a></li>
      </ul>
    </li>
    <li><a href="{{ '/pages/links' | relative_url }}" class="{%- if page.url contains 'links' %}active{%- endif %}">Links</a></li>
    <li><a href="{{ '/pages/over-beeldspraak' | relative_url }}" class="{%- if page.url contains 'over-beeldspraak' %}active{%- endif %}">Over Beeldspraak</a></li>
    <li><a href="{{ '/pages/contact' | relative_url }}" class="{%- if page.url contains 'contact' %}active{%- endif %}">Contact</a></li>
  </ul>
</nav>
<div class="nav-overlay" id="navOverlay"></div>
